/* -----------------------------------------------------------------------------

# Tools - Full Width

----------------------------------------------------------------------------- */

.full-width {
  width: 100%;

  @include mq("tablet") {
    &-tablet {
      width: 100%;
    }
  }

  @include mq("mobile") {
    &-mobile {
      width: 100%;
    }
  }
}