/* -----------------------------------------------------------------------------

# Tools - Opacity

----------------------------------------------------------------------------- */

.opacity-s {
  opacity: $opacity-s;
}

.opacity-m {
  opacity: $opacity-m;
}

.opacity-l {
  opacity: $opacity-l;
}