/* -----------------------------------------------------------------------------

# Tools - Spacing

----------------------------------------------------------------------------- */

.padding {
  padding: 5 * $space;

  @include mq("desktop-s") {
    padding: 3 * $space;
  }

  @include mq("tablet") {
    padding: (3 * $space) $space;
  }
}

.margin-bottom {
  margin-bottom: 5 * $space;

  @include mq("desktop-s") {
    margin-bottom: 3 * $space;
  }
}

.margin-top {
  margin-top: 5 * $space;

  @include mq("desktop-s") {
    margin-top: 3 * $space;
  }
}

/* Negative spacing */

.-margin-bottom {
  margin-bottom: -5 * $space;

  @include mq("desktop-s") {
    margin-bottom: -3 * $space;
  }
}

.-margin-bottom-2 {
  margin-bottom: -10 * $space;

  @include mq("desktop-s") {
    margin-bottom: -6 * $space;
  }
}

/* Default spacing */

.space-bottom {
  margin-bottom: $space;
}

.space-left {
  padding-left: $space;
}

.space-right {
  padding-right: $space;
}

.space-top {
  margin-top: $space;
}