/* -----------------------------------------------------------------------------

# Components - Card

----------------------------------------------------------------------------- */

.card {
  @include rounded;
  @include shadow-m;
  background: $color-white;

  .dark & {
    background: $color-text;
  }
}

.card-content {
  padding: 2 * $space;

  @include mq("mobile") {
    padding: 1.5 * $space;
  }
}