/* -----------------------------------------------------------------------------

# Pages - Style Guide

----------------------------------------------------------------------------- */

.page-style-guide {
  table th:first-child {
    width: 30%;
  }

  .color-swatch {
    @include rounded;
    border: 0.125rem solid $color-white;
    display: block;
    height: 5rem;

    &.color-primary { background: $color-primary; }
    &.color-green { background: $color-green; }
    &.color-orange { background: $color-orange; }
    &.color-red { background: $color-red; }
    &.color-text { background: $color-text; }
    &.color-gray-light { background: $color-gray-light; }
    &.color-gray-medium { background: $color-gray-medium; }
    &.color-gray-dark { background: $color-gray-dark; }
  }
}